shamefully-hoist=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=@types/*
strict-peer-dependencies=false
package-import-method=auto
auto-install-peers=false
