openapi: 3.1.0
info:
  title: GitPayWidget API
  description: |
    REST API for GitPayWidget - the plug-and-play payment solution for static sites.
    
    ## Authentication
    Most endpoints require Supabase session authentication via cookies. 
    The SDK handles this automatically when users sign in with GitHub OAuth.
    
    ## Rate Limits
    - Public endpoints: 60 req/min per IP
    - Authenticated endpoints: 120 req/min per user
    - Checkout endpoint: 10 req/min per IP
    - Webhook endpoint: No limit (verified via signature)
    
    ## Base URL
    Production: `https://gitpaywidget.com/api`
  version: 0.1.0
  contact:
    name: Manic Agency
    email: team@manic.agency
    url: https://manic.agency
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://gitpaywidget.com/api
    description: Production server
  - url: http://localhost:3000/api
    description: Local development

tags:
  - name: Checkout
    description: Payment checkout operations
  - name: Projects
    description: Project management
  - name: Analytics
    description: Revenue and conversion analytics
  - name: Settings
    description: Widget theme and configuration
  - name: Webhooks
    description: Payment provider webhooks
  - name: Portal
    description: Stripe Customer Portal

paths:
  /checkout:
    post:
      tags: [Checkout]
      summary: Create checkout session
      description: |
        Create a hosted checkout session with Stripe or Lemon Squeezy.
        Returns a URL to redirect the customer to the payment page.
      operationId: createCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '400':
          description: Invalid request or missing provider credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Provider API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects:
    get:
      tags: [Projects]
      summary: List projects
      description: List all projects owned by the authenticated user
      operationId: listProjects
      security:
        - cookieAuth: []
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags: [Projects]
      summary: Create project
      description: Create a new project
      operationId: createProject
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Slug already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{slug}/analytics:
    get:
      tags: [Analytics]
      summary: Get project analytics
      description: |
        Fetch revenue and conversion metrics for a project.
        Returns MRR, checkout counts, conversion rates, and revenue history.
      operationId: getProjectAnalytics
      security:
        - cookieAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Project slug (e.g., "acme/site")
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAnalytics'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{slug}/settings:
    get:
      tags: [Settings]
      summary: Get widget settings
      description: Get widget theme settings for a project
      operationId: getProjectSettings
      security:
        - cookieAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Theme settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettings'
    post:
      tags: [Settings]
      summary: Update widget settings
      description: Update widget theme settings
      operationId: updateProjectSettings
      security:
        - cookieAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /public/projects/{slug}/settings:
    get:
      tags: [Settings]
      summary: Get public widget settings
      description: |
        Fetch widget theme settings for a project (public endpoint).
        Used by the widget for auto-theming.
      operationId: getPublicProjectSettings
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Theme settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettings'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /webhook:
    post:
      tags: [Webhooks]
      summary: Receive webhook events
      description: |
        Receive webhook events from Stripe or Lemon Squeezy.
        Verifies signature and processes the event.
      operationId: handleWebhook
      parameters:
        - name: X-GPW-Provider
          in: header
          schema:
            type: string
            enum: [stripe, lemonsqueezy]
          description: Provider identifier (auto-detected if omitted)
        - name: Stripe-Signature
          in: header
          schema:
            type: string
          description: Stripe webhook signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Event processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        '400':
          description: Invalid signature or payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /portal:
    post:
      tags: [Portal]
      summary: Create Stripe Customer Portal session
      description: |
        Create a Stripe Customer Portal session for subscription management.
        Returns a URL to redirect the customer to the portal.
      operationId: createPortalSession
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [projectSlug, customerId]
              properties:
                projectSlug:
                  type: string
                  description: Project slug
                customerId:
                  type: string
                  description: Stripe customer ID
                returnUrl:
                  type: string
                  description: URL to redirect after portal session
      responses:
        '200':
          description: Portal session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: Supabase session cookie

  schemas:
    CheckoutRequest:
      type: object
      required: [project, plan]
      properties:
        project:
          type: string
          description: Project slug (e.g., "acme/site")
          example: "myorg/landing"
        plan:
          type: string
          description: Plan identifier
          example: "pro"
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional metadata for the checkout
          example:
            userId: "12345"
            referrer: "landing-page"

    CheckoutResponse:
      type: object
      properties:
        checkoutUrl:
          type: string
          format: uri
          description: URL to redirect customer to
        sessionId:
          type: string
          description: Checkout session ID
        provider:
          type: string
          enum: [stripe, lemonsqueezy]
          description: Payment provider used

    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time

    CreateProjectRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        slug:
          type: string
          pattern: "^[a-z0-9-]+/[a-z0-9-]+$"

    ProjectSettings:
      type: object
      properties:
        accent_hex:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
          description: Accent color in hex format
          example: "#8b5cf6"
        cta_label:
          type: string
          maxLength: 50
          description: Call-to-action button text
          example: "Get started"
        custom_css:
          type: string
          maxLength: 5000
          description: Custom CSS overrides

    ProjectAnalytics:
      type: object
      properties:
        mrr:
          type: integer
          description: Monthly recurring revenue in cents
        checkoutsToday:
          type: integer
        checkoutsThisMonth:
          type: integer
        conversionRate:
          type: number
          format: float
          minimum: 0
          maximum: 1
        activeSubscriptions:
          type: integer
        churnRate:
          type: number
          format: float
        updatedAt:
          type: string
          format: date-time
        revenueHistory:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              amount:
                type: integer

    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message

    RateLimitError:
      type: object
      properties:
        error:
          type: string
          example: "Too many requests"
        retryAfter:
          type: integer
          description: Seconds until rate limit resets


